# Bonus: Temperature Analysis I

In [23]:
import pandas as pd
from datetime import datetime as dt
from scipy.stats import ttest_ind

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [8]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])

In [13]:
# Set the date column as the DataFrame index
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [11]:
# Drop the date column
# df.drop(columns='date', inplace=False)

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397   NaN    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128   NaN    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [18]:
# Filter data for desired months
# Source: https://stackoverflow.com/questions/25873772/how-to-filter-a-dataframe-of-dates-by-a-particular-month-day
june = df['date'].map(lambda x: x.month) == 6
june_df = pd.DataFrame(df[june])
# june_df

december = df['date'].map(lambda x: x.month) == 12
december_df = pd.DataFrame(df[december])
december_df

           station       date  prcp  tobs
305    USC00519397 2010-12-01  0.04    76
306    USC00519397 2010-12-03  0.00    74
307    USC00519397 2010-12-04  0.00    74
308    USC00519397 2010-12-06  0.00    64
309    USC00519397 2010-12-07  0.00    64
...            ...        ...   ...   ...
19323  USC00516128 2016-12-27  0.14    71
19324  USC00516128 2016-12-28  0.14    71
19325  USC00516128 2016-12-29  1.03    69
19326  USC00516128 2016-12-30  2.37    65
19327  USC00516128 2016-12-31  0.90    65

[1517 rows x 4 columns]

In [19]:
# Identify the average temperature for June
average = june_df["tobs"].mean()
average

74.94411764705882

In [20]:
# Identify the average temperature for December
average_d = december_df["tobs"].mean()
average_d

71.04152933421226

In [21]:
# Create collections of temperature data
june_df.tobs

133      78
134      76
135      78
136      76
137      77
         ..
19492    79
19493    74
19494    74
19495    76
19496    75
Name: tobs, Length: 1700, dtype: int64

In [22]:
december_df.tobs

305      76
306      74
307      74
308      64
309      64
         ..
19323    71
19324    71
19325    69
19326    65
19327    65
Name: tobs, Length: 1517, dtype: int64

In [25]:
# Run paired t-test
set1 = june_df[june_df['tobs']=='set1']
set2 = december_df[december_df['tobs']=='set2']

ttest_ind(set1['tobs'], set2['tobs'])

Ttest_indResult(statistic=nan, pvalue=nan)

### Analysis